.title {
  display: flex;
  align-items: center;

  h2 {
    padding-right: 10px;
  }
}
form {
  mat-form-field {
    width: 50%;
  }
  .material-icons {
    margin-right: 10px;
    cursor: pointer;

    &.remove:hover {
      color: red;
    }
    &.add:hover {
      color: green;
    }
  }
}
.inputLabelDescription {
  color: rgba(0, 0, 0, 0.6);
  line-height: 2;
}
.history {
  font-style: italic;
  font-size: 11px;
  padding-top: 2rem;
  border-top: 1px solid grey;
  margin-top: 1rem;
}
.footer {
  display: flex;
  justify-content: flex-end;
}
