<div *ngIf="subactionStreams && subactionStreams.metadata && subactionStreams.metadata.type">
  <div class="title">
    <h2>{{ subactionStreams.metadata.type.name | translate }} :</h2>
    <div *ngIf="subactionStreams.metadata.type.name === 'hierarchy.singleChoice'">
    <span class="material-icons">radio_button_checked</span>
    <span class="material-icons">radio_button_unchecked</span>
    </div>
  </div>
  <form [formGroup]="myFormGroup" (ngSubmit)="onSubmit()" >
    <div *ngFor="let entity of subactionStreams.metadata.entities; let i = index">
      <ng-container *ngIf="entity.status === 1">
        <span class="material-icons remove" (click)="removeItem(entity._id, i)">remove_circle_outline</span>
        <mat-form-field appearance="fill">
          <mat-label>{{ 'Selection value' | translate }}</mat-label>
          <input
            matInput
            formControlName="{{entity._id}}">
        </mat-form-field>
      </ng-container>
    </div>
    <span class="material-icons add" (click)="addItem()">add_circle_outline</span>
    <div class="footer">
      <button mat-button type="submit" value="save" [disabled]="!myFormGroup.valid">{{ 'hierarchy.save' | translate }}</button>
    </div>
  </form>
  <div class="history">{{ 'hierarchy.lastUpdated' | translate }} {{ subactionStreams.metadata.author.last_name }}, {{subactionStreams.metadata.author.first_name }} on {{subactionStreams.metadata.updated | date: 'medium'}}</div>
</div>
