<tree-root
  #tree
  [state]="state"
  (stateChange)="setState($event)"
  [options]="options"
  (nodeActivate)="nodeActivate($event)"
  (nodeDeactivate)="nodeDeactivate()"
  [nodes]="allNodesAsTree">
<!--  <ng-template #treeNodeWrapperTemplate let-node let-index="index">-->
<!--    <tree-node-expander [node]="node"></tree-node-expander>-->
<!--    <span (click)="nodeActivate(this)">{{ node.data.text }}</span>-->
<!--  </ng-template>-->
</tree-root>

<span #contextMenuTrigger [matMenuTriggerFor]="contextMenu" class="context-menu-trigger" [style.left.px]="menuLeft" [style.top.px]="menuTop"></span>

<mat-menu #contextMenu="matMenu">
  <button mat-menu-item (click)="addNode(tree, allNodesTypes)" *ngIf="isNodeAddable(tree)">{{ 'hierarchy.addChild' | translate }}</button>
  <button mat-menu-item (click)="deleteNode(tree)" *ngIf="isNodeDeleteable(tree)">{{ 'hierarchy.deleteChild' | translate }}</button>
  <button mat-menu-item (click)="copyNode(tree)" *ngIf="isNodeCopyable(tree)">{{ 'hierarchy.copyChild' | translate }}</button>
  <button mat-menu-item (click)="pasteNode(tree)" *ngIf="isNodePastable(clipboard)">{{ 'hierarchy.pasteChild' | translate }}</button>
</mat-menu>
