<div class="hierarchy">
  <div class="top-bg accent"></div>
  <div class="page-header accent" fxLayout="row" fxLayoutAlign="space-between center">
    <h1 class="page-title mat-headline" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="8px">
      <mat-icon>account_tree</mat-icon>
      <span>{{ 'hierarchy.hierarchy' | translate }}</span>
    </h1>
  </div>
  <div class="columnWrapper" *ngIf="notEmpty$ | async; else lonelyHere">
    <div class="left-column">
      <app-node-tree
        [allNodesAsTree]="allNodesAsTree"
        [allNodesTypes]="nodeType$ | async"
        [authUser]="authUser$ | async"
        (nodeSelected)="nodeSelected($event)"
      ></app-node-tree>
    </div>
    <div class="right-column">
      <app-node-maintenance
        [nodeData]="nodeData"
        [authUser]="authUser$ | async"
        [subactionStreams]="subactionStreams$ | async"
        [nodeType]="nodeType$ | async"></app-node-maintenance>
    </div>
  </div>

  <ng-template #lonelyHere>
    <div class="pending" fxLayout="column" fxLayoutAlign="center center">
      <div class="loading" fxLayout="column" fxLayoutAlign="center center"
           *ngIf="pending$ | async; else empty" >
        <mat-spinner diameter="40"></mat-spinner>
        <p>Fetching data</p>
      </div>

      <ng-template #empty>
        <div class="no-result">
          No Nodes found
        </div>
      </ng-template>
    </div>
  </ng-template>
</div>
