html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: DaxPro, "Helvetica Neue", sans-serif;
}

* {
  font-family: DaxPro, "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}
