@font-face { font-family: DaxPro; src: url('./fonts/DaxPro.woff') }
@font-face { font-family: DaxProBlack; src: url('./fonts/DaxPro-Black.woff') }
@font-face { font-family: DaxProBlackItalic; src: url('./fonts/DaxPro-BlackItalic.woff') }
@font-face { font-family: DaxPro-Bold; src: url('./fonts/DaxPro-Bold.woff') }
