<h2 *ngIf="data.title" mat-dialog-title>{{ data.title }}</h2>
<mat-dialog-content>{{ data.message }}</mat-dialog-content>
<mat-dialog-actions>
  <button class="btn-rounded" mat-button [mat-dialog-close]="false">{{ 'general.cancel' | translate}}</button>
  <button class="btn-rounded" mat-button [mat-dialog-close]="true">{{ 'general.ok' | translate }}</button>
</mat-dialog-actions>
