<h2 mat-dialog-title>{{ data.title }}</h2>
<mat-dialog-content>{{ data.message }}</mat-dialog-content>
<form [formGroup]="myFormGroup">
  <mat-dialog-content>
    <mat-radio-group name="opList"  fxLayout="column">
      <mat-radio-button *ngFor="let actionNodesType of data.actionNodesTypes; let i = index"
                        [checked]="i === 0"
                        value="{{actionNodesType._id}}"
                        formControlName="{{actionNodesType._id}}"
                        (click)="selectType(actionNodesType.multi)"
                        ngDefaultControl >{{ actionNodesType.name}}</mat-radio-button>
    </mat-radio-group>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button [mat-dialog-close]="false">
      {{ 'general.cancel' | translate }}
    </button>
    <button mat-raised-button color="primary" (click)="closeDialog()" type="submit">
      {{ 'general.ok' | translate }}
    </button>
  </mat-dialog-actions>
</form>
