:host {
  display: block;
  max-width: 480px;
  min-width: 380px;
}

mat-dialog-content {
  min-height: 72px;
}
mat-radio-button {
  margin-bottom: 10px;
}
mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
}

