<div class="header">
  <h1 *ngIf="selectedNodeTypeName">{{ selectedNodeTypeName }} {{ 'hierarchy.maintenance' | translate }}</h1>
</div>

<div class="nodeMaintenanceWrapper" *ngIf="nodeData && nodeData.metadata">
  <app-node-form [nodeData]="nodeData" [nodeType]="nodeType" (submitForm)="onSubmitForm($event)"></app-node-form>
  <app-streams-form [subactionStreams]="subactionStreams[0]" (submitForm)="onSubmitForm($event)"></app-streams-form>
</div>
