mat-form-field {
  width: 100%;
}
.imageWrapper {
  display: flex;
  flex-direction: column;

  input[type="file"] {
    display: none;
  }

  .inputLabelDescription {
    color: rgba(0, 0, 0, 0.6);
    line-height: 2;
  }
  img {
    width: 50%;
  }

  .uploadButton {
    text-align: center;
    border: 0;
    border-radius: 0.25rem;
    background: #1E88E5;
    color: white;
    font-family: system-ui, sans-serif;
    font-size: 1rem;
    line-height: 2;
    white-space: nowrap;
    text-decoration: none;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    width: fit-content;
    margin-top: 1rem;
  }
}
.history {
  font-style: italic;
  font-size: 11px;
  padding-top: 2rem;
  border-top: 1px solid grey;
  margin-top: 1rem;
}
.footer {
  display: flex;
  justify-content: flex-end;
}
