<mat-toolbar class="mat-elevation-z2">
  <mat-toolbar-row class="sidebar-top">
    <span>{{ 'sidebar.title' | translate }}</span>
    <span class="spacer"></span>
    <div>
      <!-- <button mat-icon-button>
              <mat-icon>menu</mat-icon>
            </button> -->
    </div>

  </mat-toolbar-row>
</mat-toolbar>

<div class="navbar-container">



  <div class="nav-group">
    <div class="group-title">
      <span class="hint-text">{{ 'sidebar.overview' | translate }}</span>
    </div>
    <div class="group-items">
      <div class="nav-item">
        <a class="nav-link"
           routerLink="/admin"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}">
          <mat-icon class="nav-link-icon">dashboard</mat-icon>
          <span>{{ 'sidebar.dashboard' | translate }}</span>
        </a>
      </div>
    </div>
  </div>
  <div class="nav-group">
    <div class="group-title">
      <span>{{ 'sidebar.maintenance' | translate }}</span>
    </div>

    <div class="group-items">
      <div class="nav-item">
        <a class="nav-link"
          routerLink="/admin/contacts"
          routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}">
          <mat-icon class="nav-link-icon">account_box</mat-icon>
          <span>{{ 'sidebar.contact' | translate }}</span>
        </a>
      </div>
      <div class="nav-item">
        <a class="nav-link"
           routerLink="/admin/locales"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}">
          <mat-icon class="nav-link-icon">list</mat-icon>
          <span>{{ 'sidebar.locales' | translate }}</span>
        </a>
      </div>
      <div class="nav-item">
         <a class="nav-link"
            routerLink="/admin/hierarchy"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">
            <mat-icon class="nav-link-icon">account_tree</mat-icon>
            <span>{{ 'sidebar.hierarchy' | translate }}</span>
          </a>
      </div>
    </div>
  </div>

  <div class="nav-group">
    <div class="group-title">
      <span>Documentation</span>
    </div>

    <div class="group-items">
      <div class="nav-item">
        <a class="nav-link">
          <mat-icon class="nav-link-icon">update</mat-icon>
          <span>Changelog</span>
        </a>
      </div>

      <div class="nav-item">
        <a class="nav-link">
          <mat-icon class="nav-link-icon">import_contacts</mat-icon>
          <span>Getting Started</span>
        </a>
      </div>

      <div class="nav-item">
        <a class="nav-link">
          <mat-icon class="nav-link-icon">import_contacts</mat-icon>
          <span>Services</span>
        </a>
      </div>
    </div>
  </div>

</div>
