<form [formGroup]="myFormGroup" (ngSubmit)="onSubmit()" >
  <div *ngFor="let form_elem of selectedNodeTypeAttributes">
    <div [ngSwitch]="form_elem.type">
      <div *ngSwitchCase="'textBoxSlug'">
        <mat-form-field appearance="fill">
          <mat-label>{{ form_elem.label | translate }}</mat-label>
          <input
            matInput
            formControlName="{{form_elem.label}}">
        </mat-form-field>
      </div>
      <div *ngSwitchCase="'textBox'">
        <mat-form-field appearance="fill">
          <mat-label>{{ form_elem.label | translate }}</mat-label>
          <input
            matInput
            formControlName="{{form_elem.label}}">
        </mat-form-field>
      </div>
      <div *ngSwitchCase="'textArea'">
        <span class="inputLabelDescription">{{ form_elem.label | translate }}:</span>
        <quill-editor #editor [modules]="{ syntax: false, toolbar: form_elem.toolbar }" formControlName="{{ form_elem.label }}"></quill-editor>
      </div>
      <div *ngSwitchCase="'image'">
        <div class="imageWrapper">
          <span class="inputLabelDescription">{{ form_elem.label | translate }}:</span>
          <img *ngIf="myFormGroup.controls[form_elem.label].value !== ''" [src]="domSanitizer.bypassSecurityTrustUrl(myFormGroup.controls[form_elem.label].value)" />
          <label class="uploadButton">
            <span>{{ 'hierarchy.uploadNewImage' | translate }}</span>
            <input type="file" class="uploadButton" (change)="onUploadChange($event, form_elem.label)" accept=".png, .jpg, .jpeg" />
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="history">{{ 'hierarchy.lastUpdated' | translate }} {{ nodeData.metadata.author.last_name }}, {{nodeData.metadata.author.first_name }} on {{nodeData.metadata.updated | date: 'medium'}}</div>
  <div class="footer">
    <button mat-button type="submit" value="save" [disabled]="!myFormGroup.valid">{{ 'hierarchy.save' | translate }}</button>
  </div>
</form>
